{{ template "console-header" . }}

<h1>Filters</h1>

<p>Use filters to keep or discard events that don't interest you.</p>

<div>
	<fieldset class="form-group row">
		<legend class="col-form-legend col-sm-2">Default Action</legend>
		<div class="col-sm-10">
			<div class="form-check">
				<label class="form-check-label">
					<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2" checked>
					Discard event
				</label>
			</div>
			<div class="form-check disabled">
				<label class="form-check-label">
					<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled="">
					Keep event
				</label>
			</div>
		</div>
	</fieldset>
</div>

<style>
.filter {
    border: 1px solid #d7d7d7;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.filter .options {
    text-align: center;
}

.filter .conditions {
    margin-bottom: 0;
}

.filter .action {
    text-align: center;
}

.or {
    color: #868686;
    text-align: center;
    margin-bottom: 0.5em;
}

.filters>.or:last-child {
    display: none;
}
</style>

<div class="filters">
    {{ range .Filters }}
        <div class="filter">
            <div class="row">
				<div class="col-2 options">
                    <a href="/console/filters/{{ .ID }}">Edit</a>
				</div>
                <div class="col-8">
                    <ol class="conditions">
                        {{ range .Conditions }}
                            <li class="condition">{{ .String }}</li>
                        {{ end }}
                    </ol>
                </div>
                <div class="col-2">
                    <div class="action bg-success text-white">Keep event</div>
                </div>
            </div>
        </div>

        <div class="or">- or -</div>
    {{ end }}
</div>

{{ template "console-footer" . }}
