{{ template "console-header" . }}

<h1>Events</h1>

<p>Events since {{ .Since }}</p>

<style>
table { font-size:12px; }
table tbody { font-weight: bold }
table tr.excluded { color: #7d7d7d; font-style: italic; font-weight: normal; }
</style>

<table class="table table-sm">
	<thead>
        <tr>
            <td>Type</td>
            <td>Action</td>
            <td>Event</td>
        </tr>
	</thead>
	<tbody>
		{{ range .Events }}
            <tr class={{ if .Excluded }}"excluded"{{ else }}"included"{{ end }}>
				<td>{{ .Type }}</td>
				<td>{{ .Action }}</td>
				<td>{{ .String }}</td>
			</tr>
		{{ end }}
	</tbody>
</table>

{{ template "console-footer" . }}
