{{ template "console-header" . }}

<h1>Events</h1>

<style>
table { border: 1px solid #d7d7d7; border-spacing: 0; }
table td { padding: 4px; }
table tr.excluded { background-color: #f2dede; }
table tr.included { background-color: #dff0d8; }
</style>

<table>
	<thead>
        <tr>
            <td>Type</td>
            <td>Action</td>
            <td>Event</td>
            <td>Excluded</td>
        </tr>
	</thead>
	<tbody>
		{{ range .Events }}
            <tr class={{ if .Excluded }}"excluded"{{ else }}"included"{{ end }}>
				<td>{{ .Type }}</td>
				<td>{{ .Action }}</td>
				<td>{{ .String }}</td>
				<td>{{ .Excluded }}</td>
			</tr>
		{{ end }}
	</tbody>
</table>

{{ template "console-footer" . }}
